[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colored = "*"
google-cloud-translate = "==2.0.1"
python-dotenv = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.9"
